# Introduction to the Scripting Programming Languages and Their Applications (SPJA) Course

In this Jupyter Notebook, we'll cover basics of Python programming language as is coverd during the first lecture.

As it's usual in any programming language tutorial, we'll start with the famous 'Hello, World!'

In [1]:
print('Hello, World!')

Hello, World!

### Let's play with numbers

In [2]:
1 + 2

3

In [3]:
3 * 4

12

In [4]:
3 / 4

0.75

In [5]:
3 % 4

3

In [6]:
3 // 4

0

In [7]:
2 ** 3

8

#### Big integets are for free :-)

In [8]:
1234567898765432123456789098765432456787654323456789878909876543432345678987654323456789876543231234567 \
* \
1234567876543245676789878989089098765432345678976543212345678987654345678

1524157869227296232586103878620885370592631183396989512763506883943081346741239028441332953091425973418270460159528674514565994178959355909517622796067319546096882122520651426

In [9]:
a = 1

#### All variables have a corresponding type!

In [10]:
type(a)

int

#### Create a new `float` variable from an `int`

In [11]:
a = float(a)

In [12]:
type(a)

float

In [13]:
b = 1.5

In [14]:
a = int(b)

We can also simply convert string containing a numer to an integer or float datatype.

In [15]:
c = int('123')

In [16]:
type(c)

int

In [17]:
d = float('123.456')

In [18]:
type(d)

float

### Strings

We can create strings in two ways: (i) single line strings, (ii) multiline strings. Each string can be enclosed using " or ' specifier.

#### Single Line Strings

In [19]:
s = '<a href="www.google.com">Google</a>'

In [20]:
s

'<a href="www.google.com">Google</a>'

In [21]:
s = "<a href=\"www.google.com\">Google</a>"

In [22]:
s

'<a href="www.google.com">Google</a>'

As you can see, if you use " and want do describe, for example, HTML then you need to escape inner " characters. However, if you use ' character to enclose strings, you can embed HTML very easily without escaping.

Let's use len function fo get length of the string

In [23]:
len(s)

35

#### Get a substring using slicing (works also on `list` and `tuple` collections)

In [24]:
s = 'Hello, World!'

In [25]:
s[6:10]

' Wor'

In [26]:
s[:5]

'Hello'

We can split a string

In [27]:
s.split(' ')

['Hello,', 'World!']

### Lists

In [28]:
l = [1, 2, 3.14, 'Hello']

#### Get length of the list

In [29]:
len(l)

4

Append new items

In [30]:
l.append(-10)

In [31]:
len(l)

5

#### Let's modify an element of a list

In [32]:
l

[1, 2, 3.14, 'Hello', -10]

In [33]:
l[0] = 6

In [34]:
l

[6, 2, 3.14, 'Hello', -10]

#### Slicing a list

In [35]:
l[1:3]

[2, 3.14]

In [36]:
l[:3]

[6, 2, 3.14]

In [37]:
l[1:]

[2, 3.14, 'Hello', -10]

In [38]:
l[4:2:-1]

[-10, 'Hello']

### Tuples

Tuples are immutable

In [39]:
t = (1, 2, 3.14)

In [40]:
len(t)

3

We can't modify a tuple

In [41]:
t[0] = 6

TypeError: 'tuple' object does not support item assignment

We obtained and exception that says we cannot assign a new value to the tuple

**We can get a new list from tuple**

In [42]:
list(t)

[1, 2, 3.14]

Slicing may be used in the same way as in lists or strings

In [43]:
t[1:3]

(2, 3.14)

### For Loop

For loops are essentialy for each loops.

In [44]:
for item in l:
    print(item)

6
2
3.14
Hello
-10

**Let's square each item in a list**

In [45]:
for item in [1, 2, 3, 4]:
    print(item**2)

1
4
9
16

### While Loop

In [46]:
n = 10
while n > 0:
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1

### Functions

Functions don't have return types and parameters also don't have types specified.
Function that doesn't return anything returns `None`.

In [47]:
def f(a, b):
    return a + b

In [48]:
f(1, 2)

3

In [49]:
f([1, 2], [3, 4, 5])

[1, 2, 3, 4, 5]

We cannot add incompatible types

In [50]:
f(1, 'My string')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Build in functions

Python has a large set of build in functions. Here's just a few of them.

**Is any element in a sequence logical true (does not have to contain boolean values only)?**

In [51]:
l2 = [True, True, False]

In [52]:
any(l2)

True

**Are all elements of the sequence logicaly true (again does not have to contain boolean values only)?**

In [53]:
all(l2)

False

**Summing elements of a sequence (items have to be "countable")**

In [54]:
l3 = [1, 4, 7, 10]

In [55]:
sum(l3)

22